.blocks {
    width: var(--desktop-content-width);
    margin: 100px auto;
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.h2-sparkle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.banner-sparkle-3 {
    width: 126px;
}

.text-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.text-box {
    width: 554px;
    padding: 20px;
    background: transparent;
    border-radius: 16px;
    border: 2px solid var(--color-yellow);
}

.about-text {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.wide-box {
    width: var(--desktop-content-width);
    text-align: center;
}

@media (max-width: 1190px) {
    .blocks {
        width: var(--tablet-content-width);
        margin: 60px auto 80px;
        gap: 60px;
    }

    .about-info {
        gap: 32px;
    }

    .banner-sparkle-3 {
        width: 100px;
    }

    .text-boxes {
        gap: 20px;
    }

    .text-box {
        width: 375px;
        padding: 20px 12px;
    }

    .wide-box {
        width: var(--tablet-content-width);
        text-align: center;
        padding-block: 12px;
    }
}

@media (max-width: 795px) {
    .blocks {
        width: var(--mobile-content-width);
    }

    .about-info {
        gap: 20px;
    }

    .h2-sparkle {
        gap: 12px;
    }

    .banner-sparkle-3 {
        width: 55px;
    }

    .text-boxes {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    .text-box {
        width: 300px;
        padding: 12px;
    }

    .wide-box {
        width: var(--mobile-content-width);
        text-align: center;
        padding-inline: 20px;
    }
}